@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Taviraj&display=swap');

html {
  background-color: #f3f4f4;
  font-family: 'Roboto', sans-serif;
}
.textlight {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
/* nav styles */
.name {
  color: grey;
}

#navbarNav li a:hover {
  color: #f0647d;
}

#about {
  height: 450px;
}
#contact {
  height: 300px;
}

/* landing cover */
#firstlanding {
  background-color: #f3f4f4;
  height: 100vh; 
}
#firstlanding div {
  padding-top: 100px;
  background-color: #f3f4f4;
  
}
#headline {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

#hello {
  font-family: 'Taviraj', serif;
  font-size: 3em;
  color: #f1647d;
}

.div {
  background-color: #f3f4f4;
}
/* container */
#about {
  padding-top: 50px;
}
#aboutcont{
  padding-top: 40px;

}
/* cover container */
.cover-container {
  background-color: #f3f4f4;
}
/* jumbotron */
.jumbotron {
  background-color: #f3f4f4;
}
footer .jumbotron {
  margin-bottom: 0;
}
/* expanding flex */
.flex-equal > * {
  flex: 1;
}
#footerimgs {
  text-align: right;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}


